<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MylistNailMapper">
	<!-- Beans 객체이름(id)과 클래스type을 명시 -->
	<resultMap type="project.spring.simpleproject.model.MylistNail" id="mynaillist">
		<!-- Beans의 property 이름과 대상 테이블의 column연결 -->
		<result property="mylistno" column="mylistno" />
		<result property="members_userno" column="members_userno" />
		<result property="nail_nailno" column="nail_nailno" />
		<result property="memo" column="memo" />
	</resultMap>
	<!-- 회원 -->
	<resultMap id="memberMap" type="project.spring.simpleproject.model.Member" >
	<result property="userno" column="userno" />
	<result property="name" column="name" />
	<result property="userid" column="userid" />
	<result property="userpw" column="userpw" />
	<result property="tel" column="tel" />
	<result property="birthdate" column="birthdate" />
	<result property="addr_h" column="addr_h" />
	<result property="addr_c" column="addr_c" />
	<result property="is_out" column="is_out" />
	<result property="is_login" column="is_login" />
	</resultMap>
	<!--네일 -->
	<resultMap type="project.spring.simpleproject.model.Nail" id="nailMap">
	<!-- Beans의 property 이름과 대상 테이블의 column연결 -->
	<result property="nailno" column="nailno" />
	<result property="name" column="name" />
	<result property="stars" column="stars" />
	<result property="call" column="call" />
	<result property="address" column= "address" />
	<result property="times" column="times" />
	<result property="ps" column="ps" />
	<result property="review_count" column="review_count" />
	<result property="photos" column="photos" />
	<result property="menu" column="menu" />
	</resultMap>

	<!-- nailno 조회 -->
	<select id="findNailno_nail" parameterType="string" resultType="int">
		SELECT nailno FROM nail 
		<where>
		name = #{name}
		</where> 
	</select>
	
	<!-- 찜하기 -->
    <insert id="addList_nail"
        useGeneratedKeys="true"
        keyProperty="userno"
        parameterType="hashmap"
        >
        INSERT INTO `mylist_nail` (`members_userno`, `nail_nailno`) 
        VALUES (#{members_userno}, #{nail_nailno});
    </insert>
    <!-- mylist 조회 -->
	   <select id="selectMyList_nail" parameterType="project.spring.simpleproject.model.MylistNail" resultMap="mynaillist">
      SELECT nail_nailno FROM mylist_nail where members_userno=#{members_userno}
   </select>
   <!-- mylist memo 조회 -->
   <select id="selectMyMemoList_nail" parameterType="project.spring.simpleproject.model.MylistNail" resultMap="mynaillist">
      SELECT mylistno, memo FROM mylist_nail where members_userno=#{members_userno}
   </select>
   <!-- 찜 취소하기  -->
   <delete id="deletelist_nail" parameterType="hashmap">
   	DELETE  FROM mylist_nail WHERE members_userno=#{members_userno} AND nail_nailno =#{nail_nailno}
   </delete> 
	<select id="checklist_nail" parameterType="hashmap" resultType="Integer">
	SELECT * FROM mylist_nail WHERE members_userno=#{members_userno} AND nail_nailno =#{nail_nailno}
	</select>
	<update id ="updatememo_nail"  parameterType="project.spring.simpleproject.model.MylistNail">
		UPDATE mylist_nail SET memo = #{memo} WHERE mylistno = #{mylistno}
	</update>
</mapper>