<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MylistHairMapper">
	<!-- Beans 객체이름(id)과 클래스type을 명시 -->
	<resultMap type="project.spring.simpleproject.model.MylistHair" id="myhairlist">
		<!-- Beans의 property 이름과 대상 테이블의 column연결 -->
		<result property="mylistno" column="mylistno" />
		<result property="members_userno" column="members_userno" />
		<result property="hair_hairno" column="hair_hairno" />
		<result property="memo" column="memo" />
	</resultMap>
	<!-- 회원 -->
	<resultMap id="memberMap" type="project.spring.simpleproject.model.Member" >
	<result property="userno" column="userno" />
	<result property="name" column="name" />
	<result property="userid" column="userid" />
	<result property="userpw" column="userpw" />
	<result property="tel" column="tel" />
	<result property="birthdate" column="birthdate" />
	<result property="addr_h" column="addr_h" />
	<result property="addr_c" column="addr_c" />
	<result property="is_out" column="is_out" />
	<result property="is_login" column="is_login" />
	</resultMap>
	<!--미용실 -->
	<resultMap type="project.spring.simpleproject.model.Hair" id="hairMap">
	<!-- Beans의 property 이름과 대상 테이블의 column연결 -->
	<result property="hairno" column="hairno" />
	<result property="name" column="name" />
	<result property="stars" column="stars" />
	<result property="call" column="call" />
	<result property="address" column= "address" />
	<result property="times" column="times" />
	<result property="ps" column="ps" />
	<result property="review_count" column="review_count" />
	<result property="photos" column="photos" />
	<result property="menu" column="menu" />
	</resultMap>

	<!-- Hairno 조회 -->
	<select id="findHairno" parameterType="string" resultType="int">
		SELECT hairno FROM hair 
		<where>
		name = #{name}
		</where> 
	</select>
	
	<!-- 찜하기 -->
    <insert id="addList"
        useGeneratedKeys="true"
        keyProperty="userno"
        parameterType="hashmap"
        >
        INSERT INTO `mylist_hair` (`members_userno`, `hair_hairno`) 
        VALUES (#{members_userno}, #{hair_hairno});
    </insert>
    <!-- mylist 조회 -->
	   <select id="selectMyList" parameterType="project.spring.simpleproject.model.MylistHair" resultMap="myhairlist">
      SELECT hair_hairno FROM mylist_hair where members_userno=#{members_userno}
   </select>
   <!-- mylist memo 조회 -->
   <select id="selectMyMemoList" parameterType="project.spring.simpleproject.model.MylistHair" resultMap="myhairlist">
      SELECT mylistno, memo FROM mylist_hair where members_userno=#{members_userno}
   </select>
   <!-- 찜 취소하기  -->
   <delete id="deletelist" parameterType="hashmap">
   	DELETE  FROM mylist_hair WHERE members_userno=#{members_userno} AND hair_hairno =#{hair_hairno}
   </delete> 
	<select id="checklist" parameterType="hashmap" resultType="Integer">
	SELECT * FROM mylist_hair WHERE members_userno=#{members_userno} AND hair_hairno =#{hair_hairno}
	</select>
	<update id ="updatememo"  parameterType="project.spring.simpleproject.model.MylistHair">
		UPDATE mylist_hair SET memo = #{memo} WHERE mylistno = #{mylistno}
	</update>
</mapper>