<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MyListHairMapper">

	<!-- Beans 객체이름(id)과 클래스type을 명시 -->
	<resultMap type="project.spring.simpleproject.model.MyListHair" id="myhairMap">
		<!-- Beans의 property 이름과 대상 테이블의 column연결 -->
		<result property="mylistno" column="mylistno" />
		<result property="userno" column="userno" />
		<result property="hairno" column="hairno" />
		<result property="memo" column="memo" />
	</resultMap>
	
	<insert id="insertItem" parameterType="project.spring.simpleproject.model.MyListHair" useGeneratedKeys="true" keyProperty="mylistno">
	INSERT INTO mylisthair (
		userno, hairno, memo
	) values (
		#{userno}, #{hairno}, #{memo}
	)
	
	</insert>
	

	
	<select id="selectItem" parameterType="project.spring.simpleproject.model.MyListHair" resultMap="myhairMap">
		SELECT hairno FROM mylisthair where userno=#{userno}
	</select>
	
	
	
	<select id="selectList" parameterType="project.spring.simpleproject.model.MyListHair" resultMap="myhairMap">
		SELECT * FROM mylisthair
		order by mylistno asc
		
		
	</select>
	
	
	<select id="selectMyList" parameterType="project.spring.simpleproject.model.MyListHair" resultMap="myhairMap">
		SELECT hairno FROM mylisthair where userno=#{userno}
		
		
		
	</select>
	
</mapper>