<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="RestaurantMapper">
	<resultMap id="restaurantMap"
		type="project.spring.simpleproject.model.Restaurant">
		<result property="resno" column="resno" />
		<result property="name" column="name" />
		<result property="stars" column="stars" />
		<result property="call" column="call" />
		<result property="address" column="address" />
		<result property="times" column="times" />
		<result property="ps" column="ps" />
		<result property="tags" column="tags" />
		<result property="review_count" column="review_count" />
		<result property="photo_1" column="photo_1" />
		<result property="photo_2" column="photo_2" />
		<result property="photo_3" column="photo_3" />
		<result property="menu_1" column="menu_1" />
		<result property="menu_2" column="menu_2" />
		<result property="loc" column="loc" />
		<result property="subject" column="subject" />
	</resultMap>

<!-- 	<resultMap id="restaurantMap2"
		type="project.spring.simpleproject.model.Restaurant2">
		<result property="avg_no" column="avg_no" />
		<result property="avg_loc" column="avg_loc" />
		<result property="avg_subject" column="avg_subject" />
		<result property="avg_stars" column="avg_stars" />
		<result property="avg_rc" column="avg_rc" />
	</resultMap>

	<select id="selectItem"
		parameterType="project.spring.simpleproject.model.Restaurant2"
		resultMap="restaurantMap2">
		SELECT * FROM avg_table
		<choose>
			<when test="loc.equals('상관없음')">
				WHERE loc="강남구" AND subject=#{subject};
			</when>
			<otherwise>
				WHERE loc=#{loc} AND subject=#{subject};
			</otherwise>
		</choose>
	</select> -->

	<!-- 다중행 조회를 위한 기능 정의 -->
	<select id="selectList"
		parameterType="project.spring.simpleproject.model.Restaurant"
		resultMap="restaurantMap">
		SELECT * FROM restaurant

		<choose>
			<when test="loc.equals('상관없음')">
				WHERE resno in (
				SELECT max(resno)
				FROM restaurant
				GROUP BY name
				)
				AND
				subject = #{subject}
				AND
				review_count &gt;=
				#{review_count}
				AND
				stars &gt;= #{stars}

				ORDER BY
				stars DESC,
				review_count DESC;
			</when>
			<otherwise>
				WHERE
				loc = #{loc}
				AND
				subject = #{subject}
				ORDER BY
				stars
				DESC, review_count DESC;
			</otherwise>
		</choose>
	</select>


</mapper>