#regist_button {
    text-align: center;
    padding-top: 30px;
}

#regist_box {
    margin: 0 auto;
    width: 400px;
    padding: 30px;
}

#inputHome {
    display: inline-block;
    float: left;
}

#inputCompany {
    display: inline-block;
    float: left;
}